@charset "utf-8";
/* CSS Document */

/*
 * 01. #newWorksArea Style Setting
 * 02. #topicsArea Style Setting
 */

/*
 * #newWorksArea Style Setting
 */

#newWorksArea{
	background:url(../img/bgContent_newworks.png) no-repeat left top;
	width:976px;
	height:293px;
	padding-top:38px;
	margin:0 auto;
	position:relative;
}

#newWorksArea ul{
	margin-left:253px;
}

#newWorksArea ul li{
	background:url(../img/bgContent_newWorks.gif) repeat-x left bottom;
	float:left;
	width:195px;
	padding:9px;
	margin-right:20px;
	border:1px solid #f2f2f2;
}

#newWorksArea ul li p.worksImage{
	margin-bottom:15px;
}

#newWorksArea ul li h3{
	margin-bottom:10px;
	font-size:0.92em;
	font-weight:bold;
	color:#6cc;
}

#newWorksArea ul li p.worksDescription{
	margin-bottom:10px;
	font-size:0.85em;
}

#newWorksArea ul li p.worksDetails{
	text-align:right;
}

#newWorksArea ul li p.worksDetails a{
	background:url(../shared/img/icoShared_arrow.gif) no-repeat left center;
	padding-left:12px;
	color:#6cc;
}


/*
 * #topicsArea Style Setting
 */

#topicsArea{
	background:url(../img/bgContent_topics.png) no-repeat left top;
	width:976px;
	height:188px;
	padding-top:38px;
	margin:0 auto 37px;
	position:relative;
}

#topicsArea dl{
	margin-left:253px;
	padding-right:38px;
	font-size:0.85em;
}

#topicsArea dl dt{
	float:left;
	width:5em;
	padding:5px 0 5px 1em;
}

#topicsArea dl dd{
	padding:5px 0 5px 8.75em;
}

#topicsArea dl dd.odd{
	background-color:#fafafa;
}

